.codebox_plus_wrap
{
	padding: 3px;
	background-color: #2E2E2E;
	border: 1px solid #3A3A3A;
	font-size: 1em;
}

.codebox_plus_header
{
	text-transform: uppercase;
	border-bottom: 1px solid #3A3A3A;
	margin-bottom: 3px;
	font-size: 0.8em;
	font-weight: bold;
	display: block;
}

.codebox_plus_footer
{
	border-top: 1px solid #3A3A3A;
	margin-top: 3px;
	font-size: 0.8em;
	display: block;
	text-align: right;
}



